@model List<IdentityChatEmail.Entities.Message>

@{
    Layout = "~/Views/Shared/_MessageLayout.cshtml";
}

<div class="container mt-5">
    <h3 class="mb-4 text-primary">📥 Gelen Mesajlar</h3>

    @foreach (var item in Model)
    {
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <h5 class="card-title text-dark">@item.Subject</h5>
                <h6 class="card-subtitle mb-2 text-muted">Gönderen: @item.SenderEmail</h6>
                <a href="/Message/MessageDetail/@item.MessageId" class="btn btn-sm btn-outline-primary mt-2">
                    Mesajı Aç
                </a>
            </div>
        </div>
    }
</div>
